logs/
npm-debug.log
yarn-error.log
node_modules/
package-lock.json
coverage/
dist/
typings
.idea/
run/
.DS_Store
*.sw*
*.un~
.tsbuildinfo
.tsbuildinfo.*
src/app/public/*.xml
runtime
src/knifes
public
.env